<!DOCTYPE html>
<html>
    <head>
        <title>Sobre</title>
        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/script.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{> header}}
            <p>Conteúdo Sobre</p>
        </div>
        <img class="portrait" src="/img/me.jpeg"/>
        {{> footer}}
    </body>
</html>